@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'iranNastaliq';
  src: url(fonts/iranNastaliq.ttf);
}
/* Dosis - Ubuntu - Dancing Script */
/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  :root{
    --primary:#2a2b2e;
    --secondary:#848482;
    --third:#d4af37;
    --dark-thrid:#a5892e;
  }
  /* end of Common Styles */

  /* Navbar */
  .navbar{
    width: 100%;
    height: 9rem;
    background-color: #000;
    position: fixed;
    top: -15rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem .2rem #000;
    transition: top .4s .4s;
  }

  .navbar.change{
    top: 0;
    transition: top .4s .2s;
  }

  .navbar-link{
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: color .3s,opacity .4s;
  }

  .change .navbar-link{
    opacity: 1;
  }

  .change .navbar-link:nth-child(1){
    transition: opacity .4s .5s,color .3s;
  }
  .change .navbar-link:nth-child(2){
    transition: opacity .4s .6s,color .3s;
  }
  .change .navbar-link:nth-child(3){
    transition: opacity .4s .7s,color .3s;
  }
  .change .navbar-link:nth-child(4){
    transition: opacity .4s .8s,color .3s;
  }



  .navbar-link:hover{
    color: #fff;
  }

  .menu{
    width: 4rem;
    height: 6rem;
    background-color: #000;
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .1rem .1rem .1rem #000,
                -.1rem -.1rem .1rem #000
      ;
      cursor: pointer;
      transition: top .7s .2s;
    z-index: 1002;

  }

  .menu.change{
    top:15rem;
    transition: top .4s;
  }

  .menu::before{
    content: "";
    width:.3rem;
    height:15rem;
    background-color: #000;
    position: absolute;
    top: -15rem;
    left: calc(50% - .15rem);
    box-shadow: .1rem 0 0 .1rem #000;
    z-index: 1002;
  }
  .navbar-link i {
    font-size: 3.5rem;
  }

  .navbar-link span{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: .5rem;
  }
  /* End of Navbar */



  /* Section 1 */
  .section-1{
    width: 100%;
    height: 120vh;
    background-color: #2a2b2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .section-heading{
    font-size: 9rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-shadow: .3rem .3rem .3rem #000;
  }



  .section-1-icons i{
    font-size: 13rem;
    color: var(--third);
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    text-shadow: .2rem .2rem .2rem #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
  }

  .section-1-icons i span{
    font-size: 7rem;
    padding-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
  }

  .calliography{
    font-family: 'Dancing Script', cursive;
    }
    .paiting{
      font-weight: 400;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(47deg, red, blue,green,yellow,orange,#6A5AF9);
      background-size: contain;
    text-shadow: .12rem .12rem 5rem var(--third);
    }


  .section-1-icons i.change{
    transform: translate(-50%,-50%) scale(1);
    transition: all .4s .5s;
  }



  .heading-1{
    margin-bottom:8rem ;
  }
  .section-1-icons{
    margin-bottom: 17rem;
  }
  /* End of Section 1 */


  /* Section 2 */
  .section-2{
      width: 100%;
      height: 130vh;
      background-color: var(--secondary);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem 0;
  }

  .cards-container{
    display: flex;
    justify-content: space-evenly;
  }
  .card{
    width: 30rem;
    background-color: var(--third);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-1.1deg);
    transition: transform .8s,box-shadow .8s;
  }

  .card:nth-child(1){
    animation: up_and_down 3s 2.2s infinite alternate;

  }
  .card:nth-child(2){
    animation: up_and_down 3s 3.2s infinite alternate;

  }
  .card:nth-child(3){
    animation: up_and_down 3s 4.2s infinite alternate;
  }

  @keyframes up_and_down {
    0%{
      transform: rotateY(20deg) skewX(-1.1deg);
    }
    100%{
    transform: rotateY(20deg) skewX(-1.1deg) translateY(-3rem) ;

    }
  }

  .card:hover{
    transform: rotateY(20deg) skewX(-1.1deg) translateY(-3rem) ;
    box-shadow: 2rem 2rem 2rem #000;
  }

  .card:hover::before{
    box-shadow: -.3rem -.3rem .5rem var(--primary);
  }
  .card:hover::after{
    box-shadow: -.4rem -.4rem .5rem var(--primary);
  }

  .card-img{
    width: 100%;
  }

  .card-name{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #111;
    margin: 2rem 0;
    width: 25rem;
    text-align: center;
    text-shadow: .15rem .15rem .15rem #000;
  }

  .card-name span{
    font-family: "iranNastaliq";

  }

  .card::before{
    content: "";
    height: 100%;
    width: 1rem;
    background-color: var(--dark-thrid);
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.1rem -.1rem .5rem var(--primary);
    transition: all .8s;
  }

  .card::after{
    content: "";
    height: 1rem;
    width: 100%;
    background-color: var(--dark-thrid);
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin:bottom;
    box-shadow: -.1rem -.1rem .5rem var(--primary);
    transition: all .8s;

  }

  .card-btn{
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: .6rem;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: none;
    padding: 2rem 0;
    box-shadow: -.5rem 0 .2rem #000;
    cursor: pointer;
    transition: all .4s;
  }

  .card-btn:hover{
    color: var(--dark-thrid);
    box-shadow: -.65rem 0 .2rem #000;
  }

  /* .heading-2{
    margin-bottom: 8rem;
  } */

  /* End of Section 2 */


  /* Section 3 */
  .section-3{
    background-color: var(--primary);
    padding: 5rem 0;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 7rem 3rem;
    gap: 8rem 2.8rem;
  }

  .gallery-link{
    position: relative;
  }

  .gallery-link::before{
    content: "";
    position: absolute;
    width: .2rem;
    top: 1.7vw;
    left: 80%;
    height:0;
    background-color: #fff;
    transition: height .5s ;
    z-index: 10;

  }

  .gallery-link:hover::before{
    height: 80%;
  }

  .gallery-link::after{
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height:.2rem;
    background-color: #fff;
    transition: width .5s;
  }
  .gallery-link:hover::after{
    width: 90%;
  }

  .gallery-img{
    width: 25vw;
    height: 17vw;
    object-fit: cover;
    box-shadow:
    .3rem .3rem .1rem #e92929,
    .5rem .5rem .1rem #a2e946,
    .7rem .7rem .1rem #297ce9,
    .9rem .9rem .1rem #e92999
    ;
    transition: all .5s;
  }

  .gallery-link:hover .gallery-img{
    box-shadow:
    .8rem .8rem .1rem #e92929,
    1.5rem 1.5rem .1rem #a2e946,
    2.5rem 2.5rem .1rem #297ce9,
    3.7rem 3.7rem .1rem #e92999
    ;
    filter: blur(.1rem);
    opacity: .5;
    transform: scale(1.1);
  }
  .gallery-name{
    position: absolute;
    top: 2.2rem;
    left: 2.2rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:.2rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    /* when mouse out */ transition: width .35s;
  }

  .gallery-link:hover .gallery-name{
    width: 100%;
    transition: width 1.5s .5s;
  }

  .gallery-description{
    position: absolute;
    bottom: 5vw;
    left: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    max-width: 75%;
    max-height: 80%;
    /* mouse out */ transition: opacity .3s;
  }



  .gallery-link:hover .gallery-description{
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
  }
  /* End of Section 3 */



  /* Section 4 */
  .section-4{
    width: 100%;
    height: 35vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
  }
  .section-4-text{
    text-transform: uppercase;
  }

  .section-4-heading{
    font-size: 4rem;
    font-weight: 900;
    color: var(--third);
  }
  .section-4-paragraph{
    font-size: 1.78rem;
    color: #888;
  }

  .signup-form{
    display: flex;
    align-items: center;
  }

  .signup-form-input{
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: .2rem solid var(--third);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--dark-thrid);
  }
  .signup-form-input::placeholder{
    color: var(--third);
  }




  .signup-form-btn {
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    color: #a79a2d;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .copyright{
    position: absolute;
    font-size: 2rem;
    bottom: 3rem;
    font-weight: 200;
    color: #eee;
    letter-spacing: .1rem;
  }
  /* End of Section 4 */

  /* Responsive */
  @media screen and (min-width:1400px) {
    .section-1{
      height: 100vh;
    }
    .section-2{
      height: 100vh;
    }

    .gallery-link::before{
      content: "";
      position: absolute;
      width: .2rem;
      top: 1.0vw;
      left: 80%;
      height: 0;
      background-color: #fff;
      transition: height .5s;
      z-index: 10;
    }

    .gallery-link::after{
      content: "";
      position: absolute;
      top: 18%;
      left: 2rem;
      width: 0;
      height: .2rem;
      background-color: #fff;
      transition: width .5s;
    }

    .gallery-description{
      position: absolute;
      bottom: 10vw;
      left: 2rem;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: .1rem;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      max-width: 75%;
      max-height: 80%;
      transition: opacity .3s;
    }
  }
  /* End of Responsive */